body {
    margin: 0;
    padding: 0;
}

h1 {
    margin-top: 0;
} 

.header {
    background-color: lightgreen;
    padding: 2rem 1rem 1rem 1rem;
}

.control-div {
    margin: 3em 2em;
}

button {
    padding: 10px 20px;
    color: black;
    border-radius: 0.5rem;
}

.motorhome-div {
    margin: 3em 2em;
}

.div-short-data1, .div-short-data2 {
    display: flex;
    flex-direction: row;
}

.brand, .model, .type, .gasType, .numberOfSeats, 
.odometer, .yearOfManufacture, .condition, .code {
    width: 100%;
    margin-bottom: 1rem;
} 

.horizontal-line {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.create {
    background-color: lightgreen;
}

.delete {
    margin-top: 2rem;
    background-color: rgb(214, 117, 117);
}

.update {
    margin-top: 2rem;
    margin-left: 2rem;
    background-color: rgb(216, 190, 42);
}

.div-buttons {
    display: flex;
    flex-direction: row;
}

.code {
    font-weight: bold;
    font-size: 1.2rem;
}

.div-data {
    padding: 2em 0em 2em 2em;
}